
  /*----------------------------------------------- 
  Blog titles etc 
  -----------------------------------------------*/
  
.title-warning {
  color: #7800ff;
  margin: 10px;
}

  .top-post-bg-img {
    background: $backgroundColor {
        image: url('../img/code-back.jpg');
        size: cover;
     /* position: center;  */
     /* repeat: no-repeat; */
}
  }
  
  .top-post-bg-color {
    background: $backgroundColor;
    
  }
  
  .top-post-title {
   
    font-size: 44px;
  }
  
  .top-post-btn {
    font-size: 24px !important;

    // &:hover {
    //     color:aliceblue;
    // }
  }
  .top-post-title, .top-post-text, .top-post-btn {
    padding: 15px;
  
  }
  
  
  
  