
  /*----------------------------------------------- 
  Blog titles etc 
  -----------------------------------------------*/
  
  .top-post-bg-img {
    background: #040b14;
    background-image: url('../img/code-back.jpg');
    background-size: cover;
    /* background-position: center;  */
    /*   background-repeat: no-repeat; */
  }
  
  .top-post-bg-color {
    background: #040b14;
    
  }
  
  .top-post-title {
   
    font-size: 44px;
  }
  
  .top-post-btn {
    font-size: 24px !important;
  }
  .top-post-title, .top-post-text, .top-post-btn{
    padding: 15px;
  
  }
  
  
  
  