

//---------------- Colors

$mainAnimationColor: #2196f3;

//---------------- Fonts

$postFontRaleway: "Raleway", sans-serif;
$postFontOpenSans: "Open Sans", sans-serif;
$postFontPoppins: "Poppins", sans-serif;