

//---------------- Colors

$mainAnimationColor: #2196f3;
$backgroundColor: #040b14;


//---------------- Fonts

$postFontRaleway: "Raleway", sans-serif;
$postFontOpenSans: "Open Sans", sans-serif;
$postFontPoppins: "Poppins", sans-serif;